:root {
  /*  Global variables   */
  --app-bg-color: #1f1f1f;
  --text-color: #f5f5f5;
  --link-color: #646cff;
  --link-hover-color: #535bf2;
  --input-bg-color: #191a1b;
  --select-bg-color: #2e2e52;

  /*  Card variables   */
  --card-bg: #3c316e;
  --card-hover-bg: #3c316e;
  --card-shadow: rgba(0, 0, 0, 0.1);
  --card-hover-shadow: rgba(0, 0, 0, 1);
  --types-bg-color: #424874;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--app-bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  color: var(--link-color);
  font-weight: 500;
  text-decoration: inherit;
}
a:hover {
  color: var(--link-hover-color);
}

body {
  margin: 0;
  padding: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

body::-webkit-scrollbar {
  width: 0.5em;
  background-color: var(--app-bg-color);
}

body::-webkit-scrollbar-thumb {
  background-color: #444;
  border-radius: 1rem;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
