.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  font-size: 1.2rem;
  background: linear-gradient(180deg, #212121 0%, #331b5a 50%, #212121 100%);
}

.image {
  max-width: 30rem;
  height: auto;
  margin-bottom: 4rem;
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.2));
}

.title {
  font-size: 2rem;
  color: #c5c5c5;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.description {
  font-size: 1.2rem;
  max-width: 30rem;
  color: #838383;
}

.button {
  position: relative;
  overflow: hidden;
  height: 3rem;
  padding: 0 1.5rem;
  margin-top: 2rem;
  border-radius: 0.5rem;
  background: linear-gradient(
    82.3deg,
    rgb(71, 49, 104) 10.8%,
    rgb(70, 64, 160) 94.3%
  );
  border: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover::before {
  transform: scaleX(1);
}

.buttonText {
  font-size: 1.2rem;
  position: relative;
  z-index: 1;
  color: #e2e2e2;
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    rgb(76, 71, 148) 10.8%,
    rgb(84, 54, 128) 94.3%
  );
  transition: all 0.48s;
}

/* CSS to style the stars */
.stars-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}

.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background: #ffffff;
  border-radius: 50%;
  pointer-events: none;
  opacity: 0;
  animation: falling-star 5s linear infinite;
}

@keyframes falling-star {
  0% {
    opacity: 1;
    transform: translateY(-10px) translateX(5px);
  }
  100% {
    opacity: 0;
    transform: translateY(100vh) translateX(-50px);
  }
}
